<div class="well-sm post_images", id='comment_<%= comment.id %>'>
	<em><small>Created <%= distance_of_time_in_words_to_now(comment.created_at) %> ago by <%= comment.user.email %></small></em>
	<p><strong><%= comment.body %></strong></p>
	<em><small><%= link_to "reply to comment #{comment.body}", post_image_new_comment_path(comment.post_image_id, comment.id), id: "new_comment_#{comment.post_image_id}_#{comment.id}", remote: true %></small></em>
</div>