	<div class="post", id='post_<%=post.id %>'>
		<h3>
			<div class="text-right">
				<% if current_user == User.find(post.user_id) %>
					<a class="text-right">
						<%= link_to "", post, method: :delete, data: {confirm: "Are you sure?" }, class: "glyphicon glyphicon-remove", remote: true %>
					</a>
				<% end %>
			</div>
			<%= post.name %>
		</h3>
		<div class="col-lg-4 text-right">
			<% if post.post_images[0] %>
				<%= link_to (image_tag(post.post_images[0].avatar.url, width: "600px", class: "img-rounded")), post_path(post) %>
			<% else %>
				<%= link_to (image_tag("/uploads/images.jpeg",  width: "600px", class: "img-rounded")), post_path(post)%>
			<% end %>

			<div class="text-lowercase" style="font-family: sans-serif; color: #8B8989; font-size: 15px;">	
				<% if current_user %>	
					<% if !current_user.voted_for? post %>
						<%= post.get_likes.size %>
						<%= link_to (image_tag("/uploads/like.jpg", height: "50")), like_post_path(post.id), method: :post, remote: true %>
						<%= link_to (image_tag("/uploads/dislike.jpg", height: "50")), dislike_post_path(post.id), method: :post, remote: true %>
						<%= post.get_dislikes.size %>
					<% elsif current_user.voted_up_on?(post)  %>
						<%= post.get_likes.size %>
						<%= link_to (image_tag("/uploads/liked.jpg", height: "50")), like_post_path(post.id), method: :post, remote: true %>
						<%= link_to (image_tag("/uploads/dislike.jpg", height: "50")), '#', disabled: true %>
						<%= post.get_dislikes.size %>
					<% elsif current_user.voted_down_for?(post)  %>
						<%= post.get_likes.size %>
						<%= link_to (image_tag("/uploads/like.jpg", height: "50")), '#', disabled: true %>
						<%= link_to (image_tag("/uploads/disliked.jpg", height: "50")), dislike_post_path(post.id), method: :post, remote: true %>
						<%= post.get_dislikes.size %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>

